In [1]:
import pandas as pd

In [4]:
data_set={
    "Neighbourhood":["West","West","West","East","East","East","East","East"],
    "Number_of_Rooms":[3,5,2,3,4,6,5,2],
    "Affordable":[True,True,True,True,True,False,False,True]
}
df=pd.DataFrame(data_set)
df

  Neighbourhood  Number_of_Rooms  Affordable
0          West                3        True
1          West                5        True
2          West                2        True
3          East                3        True
4          East                4        True
5          East                6       False
6          East                5       False
7          East                2        True

##### Decision Tree Classifier:
- We need to decide what is the split feature.
- Split point when I have numerical feature.
- When to Stop Splitting.

##### **Steps:**
###### **Given the Whole dataset:**
- Calculate the `information gain` with each possible split.
- Divide set with that feature and value that gives the most IG.
- Divide tree and do the same for all created branches.
- ....until a stopping criteria is reached.
###### **Giving a data point:**
- Follow the tree until you reach a leaf node. 
- Return the most common class label.